*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}
main{
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
}
.cabecalho {
    height: 100vh;
    background-image:url('../imagens/EsSA_portao_das_armas_PB.png');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    transition: ease-in-out 300ms all;
}
.corpo01 {
    height: auto;
}
.corpo01 h5 {
    font-family: 'Oswald', sans-serif;
}
.corpo01 .news01 {
    font-family: 'Montserrat', sans-serif;
}
.news01 {
    line-height: 2em;
    letter-spacing: 0.1em;
}
.corpo01 div {
    height: 100%;
    color: #000;
    font-size: 1.1em;
}
.corpo03 {
    height: auto;
}
.corpo02 {
    height: 100vh;
    overflow: auto;
}
.corpo02 h6 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}

/* OS FEIOS */

.figure img {
    transition: ease 300ms all;
    cursor: grab;
}
.figure img:hover {
    transform: scale(1.2);
}

/* OS FEIOS */

.rodape {
    height: auto;
}
.rodape .m-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.rodape .m-1 a,img,span{
    margin: 2px;
}
.rodape img {
    width: 2em;
}
.rodape a {
    width: 5em;
}

/* NAVEGAÇÃO */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35)
}
.cabecalho:hover{
    filter: sepia(100%);
}
.navbar-nav {
    background-color: transparent;
}
.collapse {
    background-color: transparent;
}
.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-toggler span {
    font-size: 0.6em;
}
.dropdown-menu {
    background-color: transparent;
}

/* NAVEGAÇÃO */

/* BOTÃO FIXO */

.botao_fixo {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 99999;
    width: 2em;
    height: 2em;
    background-image: url('../imagens/arrow-up.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }

/* BOTÃO FIXO */

.carousel-item p {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

/* CARROSSEL */


/* CARD NOTÍCIAS */

.card-body {
    font-family: 'Montserrat', sans-serif;
    transition: ease 500ms all;
}
.card img {
    width: 20%;
}
.card {
    cursor: pointer;
    transition: ease 500ms all;
}
.card:hover {
    background-color: darkorange;
}
.card-body:hover {
    color: #fff;
}
.card-columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
}
.card-columns p {
    font-size: 0.8em;
}

/* CARD NOTÍCIAS */

/* ENCONTROS */
.encontro01 {

}
.encontro01 h6,
.encontro02 h6, {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}
.encontro01 h5 {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}
.galeria01 {
}

/* ENCONTROS */


/* MODAL */

.bg-news{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-image: linear-gradient(rgba(33, 33, 33, 0.9),rgba(153, 153, 153, 0.9));
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15% 0 0 0;
    transition: ease-in-out 300ms all;
}
.news{
    z-index: 1;
    width: 290px;
    height: 450px;
    background-image: url('../imagens/Praia_ponta_do_seixas_farol_de_cabo_branco_joao_pessoa_paraiba.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #fff;
    cursor: pointer;
    transition: ease-in-out 300ms all;  
    filter: grayscale(50%);
}
.news-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.title{
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 orangered;
    font-size: 20px;
    font-style: italic;
}
.news{
    padding: 5px;
    font-style: italic;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 2px 2px 2px #212121;
}
.btn-close{
    width: 30px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 10px;
    padding: 10px 10px 25px 10px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    background-color: tomato;
    color: #fff;
    border-radius: 5px;
}

/* MODAL */